<p><a href="https://www.example.com&quot;">xss</a></p>
<p><img alt="xss" src="https://www.example.com&quot;"/></p>
<p><a href="https://www.example.com&#039;">xss</a></p>
<p><img alt="xss" src="https://www.example.com&#039;"/></p>
<p><img alt="xss&quot;" src="https://www.example.com"/></p>
<p><img alt="xss&#039;" src="https://www.example.com"/></p>
